<!DOCTYPE html>
<html lang="en">
<head>
    <script defer src="script.js"></script>
    <link rel="stylrsheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hi node js</h1>
    <button onclick="timefunc()"> what time</button>
    <div id = timediv> </div>
    <form action="/formhandler" method="get">
        <label for=""> please enter your name: </label>
        <input type="text" name="" id="" required>
        <input for="">please enter your </label>
        <input type="email" name="" id="">
        <input type="submit" value="sign up" required>
    </form>

</body>
</html>