<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="gridcontainer"> 
    <div class="item1"> 
        <h1>Hi Gigo</h1> 
    </div>
    <div class="item2"> 
        <h3>this is an intro to grid model</h3> 
    </div>
    <div class="item3"> 
      <button> press here button </button></button>
    </div>
    <div class="item4">
        <img src="../static/soccer.jpg"   alt="no page found" width="300" height="200">
    </div>
    <div class="item5">
        <a href="page2.html"> next page</a>
    </div>
    <div>
        




    
    
    
</body>
</html>