<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


</head>
<body>
    
    <div class="grid_container">
        <div class="item1">
            <h1>header</h1>
        </div>
        <div class="item2">
            <h1 id="demo">left</h1>
        </div>
        <div class="item3">
            <h1>right</h1>
            <h2> this is with a special selector</h2>
            <h1>wow!</h1>
        </div>
        <div class="item4">
            <h3> another element</h3>
        </div>
        <div class="item5">
            <h2> element </h2>
        </div>
    </div>
    
</body>
</html>